__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
venv/
.venv/
.git/
.gitignore
node_modules/
media/
staticfiles/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.DS_Store
.idea/
.vscode/
*.env
.env
dist/
build/







